<!doctype html>
<head>
    <title>Прогнозирование модуля упругости при растяжении</title>
</head>


<style>
    body {background: linear-gradient(#E8D9A9, #9A5044) fixed;}
</style>
<body>
    <form action="{{url_for('main')}}" method="POST">
        <div align="center">
            <h2>Прогноз модуля упругости при растяжении</h2>
            <input name = "ratio" type="number" placeholder="Соотношение матрица-наполнитель">
            <br>
            <input name = "density" type="number" placeholder="Плотность, кг/м3">
            <br>
            <input name = "elastic_module" type="number" placeholder="Модуль упругости, ГПа">
            <br>
            <input name = "amount" type="number" placeholder="Количество отвердителя, м.%">
            <br>
            <input name = "epoxy_gr" type="number" placeholder="Содержание эпоксидных групп,%_2">
            <br>
            <input name = "flash_point" type="number" placeholder="Температура вспышки, С_2">
            <br>
            <input name = "surface_density" type="number" placeholder="Поверхностная плотность, г/м2">
            <br>
            <input name = "resin_con" type="number" placeholder="Потребление смолы, г/м2">
            <br>
            <input name = "patch_angle" type="number" placeholder="Угол нашивки, град">
            <br>
            <input name = "patch_step" type="number" placeholder="Шаг нашивки">
            <br>
            <input name = "patch_dens" type="number"  placeholder="Плотность нашивки">
            <br>
            <br>
            <button>Вычислить</button>
            <h3>Результат:</h3>
            <div>
                {% if result %}
                    <p> {{result}}</p>
                {% endif %}
            </div>
        </div>
        </form>
</body>
